/* Reset default styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  
  
}

/* Main container styles */
#Main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(19, 18, 18);
}

#center {
  position: relative;
  height: 80%;
  width: 80%;
}

/* Image container styles */
.imagecontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: imageAnimation 8s ease;
  opacity: 0;
}

/* Initial state for the first image container */
.imagecontainer:nth-child(1) {
  animation-delay: 0s;
}

/* Subsequent image containers */
.imagecontainer:nth-child(2) {
  animation-delay: 8s;
}

.imagecontainer:nth-child(3) {
  animation-delay: 16s;
}

img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* Text animation */
#ST1{
  font-size: 6vw;
  z-index: 999;
  position: absolute;
  animation: textAnimation 6s ease;
  animation-delay: 2s; /* Delay text animation to sync with image animation */
  opacity: 0; /* Start with text hidden */
}
#ST2{
  font-size: 6vw;
  z-index: 999;
  position: absolute;
  animation: textAnimation 7s ease;
  animation-delay: 9s; /* Delay text animation to sync with image animation */
  opacity: 0; /* Start with text hidden */
}
#ST3 {
  font-size: 6vw;
  z-index: 999;
  position: absolute;
  animation: textAnimation 7s ease;
  animation-delay: 17s; /* Delay text animation to sync with image animation */
  opacity: 0; /* Start with text hidden */
}

/* Keyframes for the image and text animation */
@keyframes imageAnimation {
  0%, 100% {
      opacity: 0;
  }
  20%, 80% {
      opacity: 1;
  }
 
}

@keyframes textAnimation {
  0%, 100% {
      opacity: 0;
  }
  20%, 80% {
      opacity: 1;
  }
 
}
.text{
  color: cornflowerblue;
}
